<div>
  
  <h1>Su ticket de compra</h1>

  <form action="/api/session/tickets" method="post">
  
{{#each ticket}}

<p>Email: {{this.ticket.email}}</p>
<p> Fecha y hora de la compra: {{this.ticket.purchase_datetime}} </p>
<p>Codigo : {{this.ticket.code}}</p>
<p>Total: {{this.ticket.amount}}</p>
</form>
</div>
{{/each}} 